{% extends "base.html.twig" %}

{% block title %} Add a new category {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Add a new category</h1>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}