// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Vollkorn&display=swap');


body {
  background-color: #9C9C9C;
  font-family: 'Vollkorn', serif;
}

p {
  color: #FBF7F7;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

